/**
 * Just a simple test file that should be compiled. Should esspecially contain
 * constructs that will use paths in final css since this primarily depends on the
 * input of the broccoli plugin.
 */

@import 'testpart';

body {
	margin: 0;
	padding: 0;
	background:image-url('stub.png');
	ul {
		list-style: none;
	}
}